<div id="header_main">
  <div class="main-menu tm-header uk-visible@m tm-header-transparent">

    <div class="uk-navbar-container">
      <div class="uk-container uk-container-expand">

        <nav class="uk-navbar fixed-navbar">

          <div class="uk-navbar-left">
            <a class="logo" [routerLink]="['dashboard']">
              <img src="../../assets/images/logos/logo-test.png" width="250px">
            </a>
          </div>

          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
              <li class="uk-animation-fade">
                <a class="uk-button" [ngClass]="{'uk-disabled': !dynamicFormHandlingService.isFormValid}" (click)="share()">
                  Share
                </a>
                <div data-uk-dropdown="mode: click">
                  <ng-container *ngIf="true">
                    <generated-short-url-field dataName="Chart" [shortUrl]="chartExportingService.chartTinyUrl$"
                                               [isUrlLoading]="chartExportingService.loadingChartTinyUrl$" >
                    </generated-short-url-field>
                    <hr/>

                    <generated-short-url-field dataName="Table" [shortUrl]="chartExportingService.tableTinyUrl$"
                                               [isUrlLoading]="chartExportingService.loadingTableTinyUrl$">
                    </generated-short-url-field>
                    <hr/>

                    <generated-short-url-field dataName="Raw Chart Data" [shortUrl]="chartExportingService.rawChartDataTinyUrl$"
                                               [isUrlLoading]="chartExportingService.loadingRawChartDataTinyUrl$">
                    </generated-short-url-field>
                    <hr/>
                  </ng-container>

                  <generated-short-url-field dataName="Raw Data" [shortUrl]="chartExportingService.rawDataTinyUrl$"
                                             [isUrlLoading]="chartExportingService.loadingRawDataTinyUrl$">
                  </generated-short-url-field>
                </div>
              </li>
              <li class="uk-animation-fade">
                <a class="uk-button">Load</a>
                <div data-uk-dropdown="mode: click" (hidden)="clearSelection()">
                  <input id="fileElem" type="file" style="display:none" accept=".json" (change)="loadChart($event)">
                  <button class="btn btn-block btn-outline-secondary " type="button" (click)="initiateFilePicker()">
                    <!-- TODO chart loading status maybe async -->
                    <div class="d-inline-flex flex-row justify-content-around">
                      <div class="mr-2">
                        <span *ngIf="chartLoadingService.chartLoadingStatus; else showPlusSign"
                              class="spinner-border-sm" role="status" aria-hidden="true"></span>
                        <ng-template #showPlusSign>
                          <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                               class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path
                              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                          </svg>
                        </ng-template>
                      </div>

                      <div class="ml-2" style="font-size: 1.1em;">
                        {{ ((dynamicFormHandlingService.loadFormObjectFile !== null) ? dynamicFormHandlingService.loadFormObjectFile.name : 'Select File') | slice:0:20 }}
                      </div>
                    </div>
                  </button>
                  <div *ngIf="chartLoadingService.isChartLoaded">
                    <hr/>
                    <p class="text-center">Chart model is loaded!</p>
                  </div>
                </div>
              </li>
              <li class="uk-animation-fade">
                <a class="uk-button" (click)="saveChart()">Save</a>
              </li>
            </ul>
          </div>

        </nav>

      </div>

    </div>

  </div>
</div>
