<div [ngClass]="loading ? 'ui right icon input loading' : 'ui right icon input gone'">
  <i class="icon"></i>
  <input #autoInputField [formControl]="inputFormGroup" [matAutocomplete]="auto"
    type="text" name="filterValue" placeholder="Value" style="width: 100% !important">

  <mat-autocomplete [panelWidth]="'auto'" #auto="matAutocomplete" >
    @if ((possibleFieldValues | async) === null) {
      <mat-option [value]=null>
        <span class="autocomplete field">Give a more verbose input !</span>
      </mat-option>
    } @else {
      @if ((possibleFieldValues | async).length === 0 && numberOfpossibleFieldValues >= 0 && !loading) {
        <mat-option [value]=null>
          <span class="autocomplete field">No results</span>
        </mat-option>
      } @else {
        @if (numberOfpossibleFieldValues < 0) {
          <mat-option [value]=null>
            <span class="autocomplete field">Could not fetch values</span>
          </mat-option>
        } @else {
          @for (value of possibleFieldValues | async; track value) {
            <mat-option [value]="value">
              <span class="autocomplete field">{{ value }}</span>
            </mat-option>
          }
        }
      }
    }
  </mat-autocomplete>

</div>
