<div class="uk-section uk-section-xsmall uk-section-primary uk-preserve-color">

  <div class="uk-container uk-container-expand uk-padding-remove uk-margin-medium-left">
    <div class="uk-padding-small uk-padding-remove-vertical uk-padding-remove-right">
      <ul id="dataseriesList" class="scrollable-tabs" data-uk-tab="{connect: #switcher-content}">
        <li *ngFor="let ctrl of form.controls; let i = index" [formGroup]="ctrl" style="display: contents;">
          <a class="uk-link-reset">
            <div class="uk-flex" formGroupName="chartProperties">
              <div *ngIf="selectedTitleIndex === i ; else notEditable" tabindex="0">
                <div input type="text" [formInput]="form.controls[i].get('chartProperties.dataseriesName')" #editDataseriesName
                     placeholder="Dataseries name"
                     (focusout)="selectedTitleIndex = -1">
                </div>
              </div>
              <ng-template #notEditable>
                <!--              <div (dblclick)="editDataseriesTitle(ctrl)" style="word-break: break-all; font-weight: bold; text-align: center !important" class="h3 text-center font-weight-bold mb-3 px-0">-->
                <div (dblclick)="editDataseriesTitle(i)" class="">
                  {{ ctrl.get('chartProperties.dataseriesName').value }}
                </div>
              </ng-template>

              <a class="uk-link-reset uk-flex uk-flex-middle">
                <span class="material-symbols-outlined">more_vert</span>
              </a>

              <div #element uk-dropdown="mode: click; pos: bottom-left; offset: 5; delay-hide: 0; container: body">
                <ul class="uk-nav uk-dropdown-nav">
                  <li>
                    <a (click)="editDataseriesTitle(i); hide(element)">
                      <div class="uk-flex uk-flex-middle">
                        <mat-icon style="margin: 0;">edit</mat-icon>
                        <span class="uk-margin-small-left uk-width-expand">Edit</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a (click)="duplicateDataseries(i); hide(element)">
                      <div class="uk-flex uk-flex-middle">
                        <mat-icon style="margin: 0;">content_copy</mat-icon>
                        <span class="uk-margin-small-left uk-width-expand">Duplicate</span>
                      </div>
                    </a>
                  </li>
                  <ng-container *ngIf="form.controls.length > 1">
                    <li class="uk-nav-divider"></li>
                    <li *ngIf="form.controls.indexOf(ctrl) !== 0">
                      <a (click)="changePosition('up', i); hide(element)">
                        <div class="uk-flex uk-flex-middle">
                          <mat-icon style="margin: 0;">arrow_back</mat-icon>
                          <span class="uk-margin-small-left uk-width-expand">Move left</span>
                        </div>
                      </a>
                    </li>
                    <li *ngIf="form.controls.indexOf(ctrl) !== form.controls.length - 1">
                      <a (click)="changePosition('down', i); hide(element)">
                        <div class="uk-flex uk-flex-middle">
                          <mat-icon style="margin: 0;">arrow_forward</mat-icon>
                          <span class="uk-margin-small-left uk-width-expand">Move right</span>
                        </div>
                      </a>
                    </li>
                  </ng-container>
                  <li class="uk-nav-divider"></li>
                  <li>
                    <a (click)="removeDataseries(i); hide(element)">
                      <div class="uk-flex uk-flex-middle">
                        <mat-icon style="margin: 0;">delete_forever</mat-icon>
                        <span class="uk-margin-small-left uk-width-expand">Delete</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a class="uk-link uk-flex uk-flex-middle" (click)="addDataseries()">
            <span class="material-symbols-outlined">add</span>
            <span>Add Dataseries</span>
          </a>
        </li>
      </ul>
      <ul id="switcher-content" class="uk-switcher">
        <li *ngFor="let ctrl of form.controls; let i = index" [formGroup]="ctrl">
          <!-- <h2>{{ctrl.get('chartProperties')?.get('dataseriesName')?.value}}</h2> -->
          <!--        <ng-container *ngIf="form.length > 1">-->
          <!--          <button (click)="removeDataseries(i)">Remove Dataseries</button>-->
          <!--        </ng-container>-->

          <div class="dataSelectionDiv" formGroupName="data">
            <h6 class="borderBottomClass uk-margin-medium-top uk-text-secondary">Data Selection</h6>

            <div class="dataSelection">

              <ul uk-accordion="multiple: true">
                <li class="uk-open">
                  <a class="uk-accordion-title" href>Y Axis</a>
                  <div class="uk-accordion-content">
                    <div formGroupName="yaxisData">

                      <div class="uk-child-width-1-2" uk-grid>
                        <div>
                          <div input placeholder="Entity" type="select"
                               [formInput]="ctrl.get('data.yaxisData.entity')" [options]="entities"
                               (valueChange)="selectEntity($event)">
                          </div>
                        </div>
                        <div>
                          <div input placeholder="Y axis aggregate" type="select"
                               [formInput]="ctrl.get('data.yaxisData.yaxisAggregate')" [options]="aggregates">
                          </div>
                        </div>
                      </div>

                      <!-- Issue with TypeError regusterOnChange -->
                      <ng-container *ngIf="checkYAxisAggregate(ctrl)">
                        <div>
                          <div class="uk-margin-bottom">Entity Field</div>
                          <div>
                            <select-attribute [chosenEntity]="ctrl.get('data.yaxisData.entity')?.value"
                                              [control]="ctrl.get('data.yaxisData.yaxisEntityField')">
                            </select-attribute>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </li>
                <li class="uk-open">
                  <a class="uk-accordion-title" href>X Axis</a>
                  <div class="uk-accordion-content">
                    <div formArrayName="xaxisData">

                      <div *ngFor="let data of getXAxisData(ctrl); let j = index" [formGroup]="data">
                        <div formGroupName="xaxisEntityField" style="width: 100%;">
<!--                          <div>Entity Field</div>-->
                          <div style="display: inline-block; width: 90%; vertical-align: middle;">
                            <select-attribute [chosenEntity]="ctrl.get('data.yaxisData.entity')?.value"
                                              [control]="data.get('xaxisEntityField')">
                            </select-attribute>
                          </div>
                          <div style="display: inline-block; width: 10%; vertical-align: middle;">
                            <button mat-icon-button (click)="removeEntityField(ctrl, j)">
                              <mat-icon>highlight_off</mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div *ngIf="!hasTwoEntityFields">
                        <!--                  <button mat-button class="addEntityButtonClass" (click)="addEntityField(ctrl)"><mat-icon>add</mat-icon>Add Group By</button>-->
                        <a class="uk-link uk-flex uk-flex-middle" (click)="addEntityField(ctrl)">
                          <span class="material-symbols-outlined">add</span>
                          <span>Add Group By</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <a class="uk-accordion-title" href>Filters</a>
                  <div class="uk-accordion-content">
                    <div formArrayName="filters">

                      <ng-container *ngFor="let filter of getFilters(ctrl); let j = index" [formGroup]="filter">
                        <div class="uk-margin-bottom uk-flex uk-flex-middle">

                          <div class="groupFiltersClass">

                            <div class="uk-margin-bottom">
                              <mat-radio-group color="primary" labelPosition="after" formControlName="op">
                                <mat-radio-button value="AND" class="uk-margin-right">Match all of the values</mat-radio-button>
                                <mat-radio-button value="OR">Match any of the values</mat-radio-button>
                              </mat-radio-group>
                            </div>


                            <ng-container formArrayName="groupFilters">
                              <div *ngFor="let group of getGroups(filter); let k = index" [formGroup]="group" class="uk-flex uk-flex-middle uk-margin-bottom">

                                <div class="width-9-10">
                                  <div class="uk-width-1-1 uk-margin-small-bottom">
                                    <ng-container formGroupName="field">
                                      <div>
                                        <select-attribute
                                          [chosenEntity]="ctrl.get('data.yaxisData.entity')?.value"
                                          [control]="group.get('field')">
                                        </select-attribute>
                                      </div>
                                    </ng-container>
                                  </div>
                                  <div class="uk-child-width-1-2" uk-grid>

                                    <div input placeholder="Filter Operator" type="select"
                                         [formInput]="group.get('type')" [options]="filterOperators | filterOperators: group.get('field.type').value">
                                    </div>

                                    <div *ngIf="(group.get('type').value === '=') || (group.get('type').value === '!='); else plainStringInput">
                                      <autocomplete-input-field [inputFormGroup]="group.get('values.0')" [filterfield]="group.get('field.name').value"></autocomplete-input-field>
                                    </div>
                                    <ng-template #plainStringInput>
                                      <div input placeholder="Value" type="text"  [formInput]="group.get('values.0')"></div>
                                    </ng-template>
                                  </div>
                                </div>
                                <div class="width-1-10">
                                  <button mat-icon-button style="color: red;" (click)="removeFilterRule(filter, k)"><mat-icon>delete</mat-icon></button>
                                </div>

                              </div>
                              <!--                      <button mat-button class="addEntityButtonClass" (click)="addFilterRule(filter)"><mat-icon>add</mat-icon>Add Filter Rule</button>-->
                              <a class="uk-link uk-flex uk-flex-middle" (click)="addFilterRule(filter)">
                                <span class="material-symbols-outlined">add</span>
                                <span>Add Filter Rule</span>
                              </a>
                            </ng-container>
                          </div>
                          <div class="">
                            <button mat-icon-button (click)="removeFilter(ctrl, j)"><mat-icon>highlight_off</mat-icon></button>
                          </div>
                        </div>
                      </ng-container>

                      <div>
                        <!--                  <button mat-button class="addEntityButtonClass" (click)="addFilter(ctrl)"><mat-icon>add</mat-icon>Add Filter</button>-->
                        <a class="uk-link uk-flex uk-flex-middle" (click)="addFilter(ctrl)">
                          <span class="material-symbols-outlined">add</span>
                          <span>Add Filter</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
          </div>

          <div formGroupName="chartProperties">
            <h6 class="borderBottomClass uk-margin-medium-top uk-text-secondary">Data series Options</h6>

            <div class="dataSelection">

              <div *ngIf="this.selectedCategoryName?.value === 'combo'" class="uk-margin-top">
                <mat-form-field appearance="outline" class="uk-width-1-1">
                  <mat-label>Chart Type</mat-label>
                  <mat-select formControlName="chartType">
                    <mat-option disabled="true">Select Chart Type</mat-option>
                    <mat-option [value]="chartType.value" *ngFor="let chartType of chartTypeList">
                      {{ chartType.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="outline" class="uk-margin-top uk-width-1-1">
                  <mat-label>Stacked Data</mat-label>
                  <mat-select formControlName="stacking">
                    <mat-option disabled="true">Select One</mat-option>
                    <mat-option [value]="stackedData.value" *ngFor="let stackedData of stackedDataList">
                      {{ stackedData.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- There is Stack Name in local version of Stats Tools but NOT of online version. -->
              <!-- <div>
              <mat-form-field>
                <mat-label>Stack Name</mat-label>
                <br>
                <input matInput type="text" formControlName="stackName">
              </mat-form-field>
            </div> -->

              <div>
                <mat-form-field appearance="outline" class="uk-margin-top uk-width-1-1">
                  <mat-label>Dataseries Color</mat-label>
                  <br>
                  <input matInput type="color" formControlName="dataseriesColor">
                </mat-form-field>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
