.mat-select-panel {
	min-width: 26.5em;
}

//.dataSelectionDiv {
//	margin-bottom: 3rem;
//	width: 100%;
//}
//
//.dataSelection {
//	padding: 0 5px;
//}
//
//.addDataseriesButton {
//	background-color: #0a76cf !important;
//	color: white !important;
//}
//
//.dataseriesTitle {
//	align-self: center;
//	font-size: 2rem;
//	font-weight: bold;
//	padding: 1rem 0;
//
//	// display: flex;
//	// justify-content: center;
//	// align-items: center;
//	// flex-direction: column;
//}

//.dataseriesTitleButton {
//	color: #0a76cf;
//}
//
//.dataseriesTitleButton :hover {
//	cursor: pointer;
//	color: blue;
//}
//
//.dataseriesTitleButton :disabled {
//	border: transparent;
//	background: none;
//}

.groupFiltersClass {
	border: 1px solid #ccc;
	border-radius: 5px;
  padding: 5px 15px;
}

//.addEntityButtonClass {
//	color: #0a76cf !important;
//}
//
//.addEntityButtonClass:hover {
//	text-decoration: underline !important;
//	background: none !important;
//	background-color: unset !important;
//}
