<div style="width: 100%;" [formGroup]="highChartsForm">

	<div>
		<ul data-uk-accordion="multiple: true">
			<li class="uk-open">
				<a class="uk-accordion-title" href>Title</a>

				<div class="uk-accordion-content" formGroupName="title">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="">
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Title Text</mat-label>
                <input matInput formControlName="titleText">
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Title Color</mat-label>
                <input matInput type="color" formControlName="color">
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Horizontal Alignment</mat-label>
                <mat-select formControlName="align">
                  <mat-option disabled="true">Select One</mat-option>
                  <mat-option [value]="horizontalAlignment.value" *ngFor="let horizontalAlignment of horizontalAlignmentList">
                    {{horizontalAlignment.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Margin</mat-label>
                <input matInput type="number" formControlName="margin">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Font Size</mat-label>
                <input matInput type="number" formControlName="fontSize">
              </mat-form-field>
            </div>
          </div>
				</div>
			</li>

			<li>
				<a class="uk-accordion-title" href>Subtitle</a>

				<div class="uk-accordion-content" formGroupName="subtitle">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="">
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Subtitle Text</mat-label>
                <input matInput placeholder="Subtitle" formControlName="text">
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Subtitle Color</mat-label>
                <input matInput type="color" formControlName="color">
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Horizontal Alignment</mat-label>
                <mat-select formControlName="horizontalAlignment">
                  <mat-option disabled="true">Select One</mat-option>
                  <mat-option [value]="horizontalAlignment.value" *ngFor="let horizontalAlignment of horizontalAlignmentList">
                    {{horizontalAlignment.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Font Size</mat-label>
                <input matInput type="number" formControlName="fontSize">
              </mat-form-field>
            </div>
          </div>

				</div>
			</li>
			<li>
				<a class="uk-accordion-title"href>X Axis</a>

				<div class="uk-accordion-content" formGroupName="xAxis">
					<div>
						<div style="width: 100%;">
							<mat-label>Name</mat-label>
							<br>
							<mat-form-field>
								<input matInput placeholder="X Axis Name" formControlName="name">
							</mat-form-field>
						</div>
					</div>
					<div>
						<div style="display: inline-block; margin-right: 40px;">
							<mat-label>Font Size</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="number" formControlName="fontSize">
							</mat-form-field>
						</div>
						<div style="display: inline-block;">
							<mat-label>X Axis Color</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="color" formControlName="color">
							</mat-form-field>
						</div>
					</div>
				</div>
			</li>

			<li>
				<a class="uk-accordion-title" href>Y Axis</a>

				<div class="uk-accordion-content" formGroupName="yAxis">
					<div>
						<div style="width: 100%;">
							<mat-label>Name</mat-label>
							<br>
							<mat-form-field>
								<input matInput placeholder="Y Axis Name" formControlName="name">
							</mat-form-field>
						</div>
					</div>
					<div>
						<div style="display: inline-block; margin-right: 40px;">
							<mat-label>Font Size</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="number" formControlName="fontSize">
							</mat-form-field>
						</div>
						<div style="display: inline-block;">
							<mat-label>Y Axis Color</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="color" formControlName="color">
							</mat-form-field>
						</div>
					</div>
				</div>
			</li>

			<li>
				<a class="uk-accordion-title" href>Misc Options</a>

				<div class="uk-accordion-content" formGroupName="miscOptions">
					<div>
						<div>
							<mat-slide-toggle formControlName="enableExporting">Enable Exporting</mat-slide-toggle>
						</div>
					</div>

					<div>
						<div>
							<mat-slide-toggle formControlName="enableDrilldown">Enable Drilldown</mat-slide-toggle>
						</div>
					</div>

					<div style="margin-top: 20px;">
						<mat-label>Stacked Graph</mat-label>
						<br>
						<mat-form-field>
							<mat-select formControlName="stackedGraph">
								<mat-option disabled="true">Select One</mat-option>
								<mat-option [value]="stackedGraph.value" *ngFor="let stackedGraph of stackedGraphList">
									{{stackedGraph.name}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</li>

			<li>
				<a class="uk-accordion-title" href>Chart Area</a>

				<div class="uk-accordion-content" formGroupName="chartArea">
					<h5>Chart Area</h5>

					<div>
						<div style="display: inline-block; margin-right: 40px;">
							<mat-label>Background Color</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="color" formControlName="backgroundColor">
							</mat-form-field>
						</div>

						<div style="display: inline-block;">
							<mat-label>Border Color</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="color" formControlName="borderColor">
							</mat-form-field>
						</div>
					</div>

					<div>
						<div style="display: inline-block; margin-right: 40px;">
							<mat-label>Border Corner Radius</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="number" formControlName="borderCornerRadius">
							</mat-form-field>
						</div>

						<div style="display: inline-block;">
							<mat-label>Border Width</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="number" formControlName="borderWidth">
							</mat-form-field>
						</div>
					</div>
				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Plot Area</a>

				<div class="uk-accordion-content" formGroupName="plotArea">

					<div>
						<div style="display: inline-block; margin-right: 40px;">
							<mat-label>Background Color</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="color" formControlName="backgroundColor">
							</mat-form-field>
						</div>

						<div style="display: inline-block;">
							<mat-label>Border Color</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="color" formControlName="borderColor">
							</mat-form-field>
						</div>
					</div>

					<div>
						<div style="display: inline-block; margin-right: 40px;">
							<mat-label>Background Image URL</mat-label>
							<br>
							<mat-form-field>
								<input matInput placeholder="https://domain.com/picture.png" formControlName="backgroundImageUrl">
							</mat-form-field>
						</div>

						<div style="display: inline-block;">
							<mat-label>Border Width</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="number" formControlName="borderWidth">
							</mat-form-field>
						</div>
					</div>
				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Data Labels</a>

				<div class="uk-accordion-content" formGroupName="dataLabels">
					<div>
						<div>
							<mat-slide-toggle formControlName="enableData">Enable data labels for all series</mat-slide-toggle>
						</div>
					</div>
				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Credits</a>

				<div class="uk-accordion-content" formGroupName="credits">
					<div>
						<div>
							<mat-slide-toggle formControlName="enableCredits">Enable Credits</mat-slide-toggle>
						</div>
					</div>
				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Legend</a>

				<div class="uk-accordion-content" formGroupName="legend">
					<div>
						<div>
							<mat-slide-toggle formControlName="enableLegend">Enable Legend</mat-slide-toggle>
						</div>
					</div>

					<div>
						<div style="display: inline-block; margin-right: 40px;">
							<mat-label>Item Layout</mat-label>
							<br>
							<mat-form-field>
								<mat-select formControlName="itemlayout">
									<mat-option disabled="true">Select One</mat-option>
									<mat-option [value]="itemLayout.value" *ngFor="let itemLayout of itemLayoutList">
										{{itemLayout.name}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div style="display: inline-block; margin-right: 40px;">
							<mat-label>Horizontal Alignment</mat-label>
							<br>
							<mat-form-field>
								<mat-select formControlName="horizontalAlignment">
									<mat-option disabled="true">Select One</mat-option>
									<mat-option [value]="horizontalAlignment.value" *ngFor="let horizontalAlignment of horizontalAlignmentList">
										{{horizontalAlignment.name}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div style="display: inline-block;">
							<mat-label>Vertical Alignment</mat-label>
							<br>
							<mat-form-field>
								<mat-select formControlName="verticalAlignment">
									<mat-option disabled="true">Select One</mat-option>
									<mat-option [value]="verticalAlignment.value" *ngFor="let verticalAlignment of verticalAlignmentList">
										{{verticalAlignment.name}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Zoom Options</a>

				<div class="uk-accordion-content" formGroupName="zoomOptions">
					<div>
						<div>
							<mat-slide-toggle formControlName="enableXAxisZoom">Enable X axis Zoom</mat-slide-toggle>
						</div>
					</div>

					<div>
						<div>
							<mat-slide-toggle formControlName="enableYAxisZoom">Enable Y axis Zoom</mat-slide-toggle>
						</div>
					</div>
				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Data Series Color Palette</a>

				<div class="uk-accordion-content" formArrayName="dataSeriesColorPalette">

					<ng-container *ngFor="let dataSeriesColor of getSeriesColors(this.highChartsForm) ; let i = index">
						<div>
							<input type="color" [formControlName]="i">
							<button (click)="removeSeriesColor(this.highChartsForm, i)">X</button>
						</div>
					</ng-container>

					<div>
						<button (click)="addSeriesColor(this.highChartsForm)">+ Add Series Color</button>
					</div>

				</div>
			</li>
		</ul>
	</div>
</div>
