<div style="width: 100%;" [formGroup]="highChartsForm">

	<div>
		<ul data-uk-accordion="multiple: true">
			<li class="uk-open">
				<a class="uk-accordion-title" href>Title</a>

				<div class="uk-accordion-content" formGroupName="title">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="">
              <div input placeholder="Title Text" [formInput]="highChartsForm.get('title.titleText')"></div>
            </div>
            <div class="">
              <div input placeholder="Title Color" type="color" [formInput]="highChartsForm.get('title.color')"></div>
            </div>
            <div class="">
              <div input placeholder="Horizontal Alignment" type="select" [formInput]="highChartsForm.get('title.align')"
                   [options]="horizontalAlignmentList"></div>
            </div>
            <div>
              <div input placeholder="Margin" type="number" [formInput]="highChartsForm.get('title.margin')"></div>
            </div>
            <div>
              <div input placeholder="Font Size" type="number" [formInput]="highChartsForm.get('title.fontSize')"></div>
            </div>
          </div>
				</div>
			</li>

			<li>
				<a class="uk-accordion-title" href>Subtitle</a>

				<div class="uk-accordion-content" formGroupName="subtitle">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="">
              <div input placeholder="Subtitle Text" [formInput]="highChartsForm.get('subtitle.subtitleText')"></div>
            </div>
            <div class="">
              <div input placeholder="Subtitle Color" type="color" [formInput]="highChartsForm.get('subtitle.color')"></div>
            </div>
            <div class="">
              <div input placeholder="Horizontal Alignment" type="select" [formInput]="highChartsForm.get('subtitle.align')"
                   [options]="horizontalAlignmentList"></div>
            </div>
            <div class="">
              <div input placeholder="Font Size" type="number" [formInput]="highChartsForm.get('subtitle.fontSize')"></div>
            </div>
          </div>

				</div>
			</li>
			<li>
				<a class="uk-accordion-title" href>X Axis</a>

				<div class="uk-accordion-content" formGroupName="xAxis">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="">
              <div input placeholder="X Axis Name" [formInput]="highChartsForm.get('xAxis.xAxisText')"></div>
            </div>
            <div class="">
              <div input placeholder="X Axis Color" type="color" [formInput]="highChartsForm.get('xAxis.color')"></div>
            </div>
            <div class="">
              <div input placeholder="Font Size" type="number" [formInput]="highChartsForm.get('xAxis.fontSize')"></div>
            </div>
          </div>
				</div>
			</li>

			<li>
				<a class="uk-accordion-title" href>Y Axis</a>

				<div class="uk-accordion-content" formGroupName="yAxis">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="">
              <div input placeholder="Y Axis Name" [formInput]="highChartsForm.get('yAxis.yAxisText')"></div>
            </div>
            <div class="">
              <div input placeholder="Y Axis Color" type="color" [formInput]="highChartsForm.get('yAxis.color')"></div>
            </div>
            <div class="">
              <div input placeholder="Font Size" type="number" [formInput]="highChartsForm.get('yAxis.fontSize')"></div>
            </div>
          </div>
				</div>
			</li>

			<li>
				<a class="uk-accordion-title" href>Misc Options</a>

				<div class="uk-accordion-content" formGroupName="hcMiscOptions">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="">
              <mat-slide-toggle formControlName="exporting">Enable Exporting</mat-slide-toggle>
            </div>
            <div class="">
              <mat-slide-toggle formControlName="drilldown">Enable Drilldown</mat-slide-toggle>
            </div>
            <div class="">
              <div input placeholder="Stacked Graph" type="select" [formInput]="highChartsForm.get('hcMiscOptions.stackedChart')"
                   [options]="stackedGraphList"></div>
            </div>
          </div>

				</div>
			</li>

			<li>
				<a class="uk-accordion-title" href>Chart Area</a>

				<div class="uk-accordion-content" formGroupName="hcChartArea">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="">
              <div input placeholder="Background Color" hint=" " type="color" [formInput]="highChartsForm.get('hcChartArea.hcCABackGroundColor')"></div>
            </div>
            <div class="">
              <div input placeholder="Border Color" type="color" [formInput]="highChartsForm.get('hcChartArea.hcCABorderColor')"></div>
            </div>
            <div class="">
              <div input placeholder="Border Radius" type="number" [formInput]="highChartsForm.get('hcChartArea.hcCABorderCornerRadius')"></div>
            </div>
            <div class="">
              <div input placeholder="Border Width" type="number" [formInput]="highChartsForm.get('hcChartArea.hcCABorderWidth')"></div>
            </div>
          </div>
				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Plot Area</a>

				<div class="uk-accordion-content" formGroupName="hcPlotArea">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="">
              <div input placeholder="Background Color" type="color" [formInput]="highChartsForm.get('hcPlotArea.hcPABackgroundColor')"></div>
            </div>
            <div class="">
              <div input placeholder="Border Color" type="color" [formInput]="highChartsForm.get('hcPlotArea.hcPABorderColor')"></div>
            </div>
            <div class="">
              <div input placeholder="Background Image URL" type="URL" hint="https://domain.com/picture.png"
                   [formInput]="highChartsForm.get('hcPlotArea.hcPABackgroundImageURL')"></div>
            </div>
            <div class="">
              <div input placeholder="Border Width" type="number" [formInput]="highChartsForm.get('hcPlotArea.hcPABorderWidth')"></div>
            </div>
          </div>
				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Data Labels</a>

				<div class="uk-accordion-content" formGroupName="hcDataLabels">

          <div class="" uk-grid>
            <div class="">
              <mat-slide-toggle formControlName="enabled">Enable data labels for all series</mat-slide-toggle>
            </div>
            <div class="uk-width-expand" *ngIf="highChartsForm.get('hcDataLabels.enabled').value">
              <div input placeholder="Data Label Color" type="color" [formInput]="highChartsForm.get('hcDataLabels.style.color')"></div>
            </div>
          </div>
				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Credits</a>

				<div class="uk-accordion-content" formGroupName="hcCredits">

          <div class="" uk-grid>
            <div class="">
              <mat-slide-toggle formControlName="hcEnableCredits">Enable Credits</mat-slide-toggle>
            </div>
            <div class="uk-width-expand" *ngIf="highChartsForm.get('hcCredits.hcEnableCredits').value">
              <div input placeholder="Credits Text" [formInput]="highChartsForm.get('hcCredits.hcCreditsText')"></div>
            </div>
          </div>

				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Legend</a>

				<div class="uk-accordion-content" formGroupName="hcLegend">

          <div>
            <mat-slide-toggle formControlName="hcEnableLegend">Enable Legend</mat-slide-toggle>
          </div>

          <div *ngIf="highChartsForm.get('hcLegend.hcEnableLegend').value" class="uk-child-width-1-3 uk-margin-medium-top" uk-grid>
            <div class="">
              <div input placeholder="Item Layout" type="select" [formInput]="highChartsForm.get('hcLegend.hcLegendLayout')"
                   [options]="itemLayoutList"></div>
            </div>
            <div class="">
              <div input placeholder="Horizontal Alignment" type="select" [formInput]="highChartsForm.get('hcLegend.hcLegendHorizontalAlignment')"
                   [options]="horizontalAlignmentList"></div>
            </div>
            <div class="">
              <div input placeholder="Vertical Alignment" type="select" [formInput]="highChartsForm.get('hcLegend.hcLegendVerticalAlignment')"
                   [options]="verticalAlignmentList"></div>
            </div>
          </div>

				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Zoom Options</a>

				<div class="uk-accordion-content" formGroupName="hcZoomOptions">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="">
              <mat-slide-toggle formControlName="enableXaxisZoom">Enable X axis Zoom</mat-slide-toggle>
            </div>
            <div class="">
              <mat-slide-toggle formControlName="enableYaxisZoom">Enable Y axis Zoom</mat-slide-toggle>
            </div>
          </div>

				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Data Series Color Palette</a>

				<div class="uk-accordion-content" formArrayName="dataSeriesColorArray">

					<ng-container *ngFor="let dataSeriesColor of getSeriesColors(highChartsForm); let i = index">
						<div class="uk-flex uk-flex-middle uk-grid-small" uk-grid>
              <div class="uk-width-expand" input type="color" [formInput]="highChartsForm.get('dataSeriesColorArray').get(i.toString())"></div>
							<a (click)="removeSeriesColor(highChartsForm, i)" class="uk-link-reset"><span class="material-symbols-outlined uk-margin-small-left">close</span></a>
						</div>
					</ng-container>

					<div class="uk-margin-top">
            <a class="uk-link uk-flex uk-flex-middle" (click)="addSeriesColor(highChartsForm)">
              <span class="material-symbols-outlined">add</span>
              <span>Add Series Color</span>
            </a>
					</div>

				</div>
			</li>
		</ul>
	</div>
</div>
