<div style="width: 100%;" [formGroup]="highChartsForm">

	<div>
		<ul data-uk-accordion="multiple: true">
			<li class="uk-open">
				<a class="uk-accordion-title" href>Title</a>

				<div class="uk-accordion-content" formGroupName="title">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="">
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Title Text</mat-label>
                <input matInput formControlName="titleText">
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Title Color</mat-label>
                <input matInput type="color" formControlName="color">
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Horizontal Alignment</mat-label>
                <mat-select formControlName="align">
                  <mat-option disabled="true">Select One</mat-option>
                  <mat-option [value]="horizontalAlignment.value" *ngFor="let horizontalAlignment of horizontalAlignmentList">
                    {{horizontalAlignment.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Margin</mat-label>
                <input matInput type="number" formControlName="margin">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Font Size</mat-label>
                <input matInput type="number" formControlName="fontSize">
              </mat-form-field>
            </div>
          </div>
				</div>
			</li>

			<li>
				<a class="uk-accordion-title" href>Subtitle</a>

				<div class="uk-accordion-content" formGroupName="subtitle">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="">
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Subtitle Text</mat-label>
                <input matInput placeholder="Subtitle" formControlName="subtitleText">
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Subtitle Color</mat-label>
                <input matInput type="color" formControlName="color">
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Horizontal Alignment</mat-label>
                <mat-select formControlName="align">
                  <mat-option disabled="true">Select One</mat-option>
                  <mat-option [value]="horizontalAlignment.value" *ngFor="let horizontalAlignment of horizontalAlignmentList">
                    {{horizontalAlignment.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="">
              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint">
                <mat-label>Font Size</mat-label>
                <input matInput type="number" formControlName="fontSize">
              </mat-form-field>
            </div>
          </div>

				</div>
			</li>
			<li>
				<a class="uk-accordion-title" href>X Axis</a>

				<div class="uk-accordion-content" formGroupName="xAxis">
					<div>
						<div style="width: 100%;">
							<mat-label>Name</mat-label>
							<br>
							<mat-form-field>
								<input matInput placeholder="X Axis Name" formControlName="xAxisText">
							</mat-form-field>
						</div>
					</div>
					<div>
						<div style="display: inline-block; margin-right: 40px;">
							<mat-label>Font Size</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="number" formControlName="fontSize">
							</mat-form-field>
						</div>
						<div style="display: inline-block;">
							<mat-label>X Axis Color</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="color" formControlName="color">
							</mat-form-field>
						</div>
					</div>
				</div>
			</li>

			<li>
				<a class="uk-accordion-title" href>Y Axis</a>

				<div class="uk-accordion-content" formGroupName="yAxis">
					<div>
						<div style="width: 100%;">
							<mat-label>Name</mat-label>
							<br>
							<mat-form-field>
								<input matInput placeholder="Y Axis Name" formControlName="yAxisText">
							</mat-form-field>
						</div>
					</div>
					<div>
						<div style="display: inline-block; margin-right: 40px;">
							<mat-label>Font Size</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="number" formControlName="fontSize">
							</mat-form-field>
						</div>
						<div style="display: inline-block;">
							<mat-label>Y Axis Color</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="color" formControlName="color">
							</mat-form-field>
						</div>
					</div>
				</div>
			</li>

			<li>
				<a class="uk-accordion-title" href>Misc Options</a>

				<div class="uk-accordion-content" formGroupName="hcMiscOptions">
					<div>
						<div>
							<mat-slide-toggle formControlName="exporting">Enable Exporting</mat-slide-toggle>
						</div>
					</div>

					<div>
						<div>
							<mat-slide-toggle formControlName="drilldown">Enable Drilldown</mat-slide-toggle>
						</div>
					</div>

					<div style="margin-top: 20px;">
						<mat-label>Stacked Graph</mat-label>
						<br>
						<mat-form-field>
							<mat-select formControlName="stackedChart">
								<mat-option disabled="true">Select One</mat-option>
								<mat-option [value]="stackedGraph.value" *ngFor="let stackedGraph of stackedGraphList">
									{{stackedGraph.name}}
								</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
			</li>

			<li>
				<a class="uk-accordion-title" href>Chart Area</a>

				<div class="uk-accordion-content" formGroupName="hcChartArea">
					<h5>Chart Area</h5>

					<div>
						<div style="display: inline-block; margin-right: 40px;">
							<mat-label>Background Color</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="color" formControlName="hcCABackGroundColor">
							</mat-form-field>
						</div>

						<div style="display: inline-block;">
							<mat-label>Border Color</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="color" formControlName="hcCABorderColor">
							</mat-form-field>
						</div>
					</div>

					<div>
						<div style="display: inline-block; margin-right: 40px;">
							<mat-label>Border Corner Radius</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="number" formControlName="hcCABorderCornerRadius">
							</mat-form-field>
						</div>

						<div style="display: inline-block;">
							<mat-label>Border Width</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="number" formControlName="hcCABorderWidth">
							</mat-form-field>
						</div>
					</div>
				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Plot Area</a>

				<div class="uk-accordion-content" formGroupName="hcPlotArea">

					<div>
						<div style="display: inline-block; margin-right: 40px;">
							<mat-label>Background Color</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="color" formControlName="hcPABackgroundColor">
							</mat-form-field>
						</div>

						<div style="display: inline-block;">
							<mat-label>Border Color</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="color" formControlName="hcPABorderColor">
							</mat-form-field>
						</div>
					</div>

					<div>
						<div style="display: inline-block; margin-right: 40px;">
							<mat-label>Background Image URL</mat-label>
							<br>
							<mat-form-field>
								<input matInput placeholder="https://domain.com/picture.png" formControlName="hcPABackgroundImageURL">
							</mat-form-field>
						</div>

						<div style="display: inline-block;">
							<mat-label>Border Width</mat-label>
							<br>
							<mat-form-field>
								<input matInput type="number" formControlName="hcPABorderWidth">
							</mat-form-field>
						</div>
					</div>
				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Data Labels</a>

				<div class="uk-accordion-content" formGroupName="hcDataLabels">
          <div>
            <mat-slide-toggle formControlName="enabled">Enable data labels for all series</mat-slide-toggle>
          </div>
          <div *ngIf="highChartsForm.get('hcDataLabels.enabled').value" formGroupName="style">
            <mat-label>Data Label Color</mat-label><br>
            <mat-form-field>
              <input matInput type="color" formControlName="color">
            </mat-form-field>
					</div>
				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Credits</a>

				<div class="uk-accordion-content" formGroupName="hcCredits">
					<div>
            <mat-slide-toggle formControlName="hcEnableCredits">Enable Credits</mat-slide-toggle>
          </div>
          <div *ngIf="highChartsForm.get('hcCredits.hcEnableCredits').value" class="uk-margin-top">
            <div input placeholder="Credits Text" [formInput]="highChartsForm.get('hcCredits.hcCreditsText')"></div>
          </div>
				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Legend</a>

				<div class="uk-accordion-content" formGroupName="hcLegend">
					<div>
						<div>
							<mat-slide-toggle formControlName="hcEnableLegend">Enable Legend</mat-slide-toggle>
						</div>
					</div>

					<div *ngIf="highChartsForm.get('hcLegend.hcEnableLegend').value">
						<div style="display: inline-block; margin-right: 40px;">
							<mat-label>Item Layout</mat-label>
							<br>
							<mat-form-field>
								<mat-select formControlName="hcLegendLayout">
									<mat-option disabled="true">Select One</mat-option>
									<mat-option [value]="itemLayout.value" *ngFor="let itemLayout of itemLayoutList">
										{{itemLayout.name}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div style="display: inline-block; margin-right: 40px;">
							<mat-label>Horizontal Alignment</mat-label>
							<br>
							<mat-form-field>
								<mat-select formControlName="hcLegendHorizontalAlignment">
									<mat-option disabled="true">Select One</mat-option>
									<mat-option [value]="horizontalAlignment.value" *ngFor="let horizontalAlignment of horizontalAlignmentList">
										{{horizontalAlignment.name}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div style="display: inline-block;">
							<mat-label>Vertical Alignment</mat-label>
							<br>
							<mat-form-field>
								<mat-select formControlName="hcLegendVerticalAlignment">
									<mat-option disabled="true">Select One</mat-option>
									<mat-option [value]="verticalAlignment.value" *ngFor="let verticalAlignment of verticalAlignmentList">
										{{verticalAlignment.name}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Zoom Options</a>

				<div class="uk-accordion-content" formGroupName="hcZoomOptions">
					<div>
						<div>
							<mat-slide-toggle formControlName="enableXaxisZoom">Enable X axis Zoom</mat-slide-toggle>
						</div>
					</div>

					<div>
						<div>
							<mat-slide-toggle formControlName="enableYaxisZoom">Enable Y axis Zoom</mat-slide-toggle>
						</div>
					</div>
				</div>
			</li>


			<li>
				<a class="uk-accordion-title" href>Data Series Color Palette</a>

				<div class="uk-accordion-content" formArrayName="dataSeriesColorArray">

					<ng-container *ngFor="let dataSeriesColor of getSeriesColors(highChartsForm); let i = index">
						<div>
							<input type="color" [formControlName]="i">
							<button (click)="removeSeriesColor(highChartsForm, i)">X</button>
						</div>
					</ng-container>

					<div>
						<button (click)="addSeriesColor(highChartsForm)">+ Add Series Color</button>
					</div>

				</div>
			</li>
		</ul>
	</div>
</div>
