<div class="menu-button">

<button mat-button [matMenuTriggerFor]="belowMenu"  [disabled]="isDisabled" class="mat-button uk-width-1-1">

  @if (isDisabled) {
    <div class="ui fluid selection">
      @if (isValidNode) {
        <div>
          @for (field of breadcrumbs; track field; let i = $index) {
            <div class="ui breadcrumb">
              @if (i !== breadcrumbs.length - 1 ) {
                <div>
                  <span class="section">{{field | titlecase}}</span>
                  <span class="divider"> > </span>
                </div>
              } @else {
                <span class="active section">{{field | titlecase}}</span>
              }
            </div>
          }
        </div>
      } @else {
        <div class="default text">Select Entity Field 1</div>
      }
    </div>
  } @else {
    <div class="uk-flex uk-flex-middle uk-flex-between">
      <div class="">
        @if (isValidNode) {
          <div>
            <!-- Showing the breadcrumb of entities -->
            @for (field of breadcrumbs; track field; let i = $index) {
              <div class="ui breadcrumb">
                @if (i !== breadcrumbs.length - 1 ) {
                  <div>
                    <span class="section">{{field | titlecase}}</span>
                    <span class="divider"> > </span>
                  </div>
                } @else {
                  <span class="active section">{{field | titlecase}}</span>
                }
              </div>
            }
          </div>
        } @else {
          <div>Select Entity Field</div>
        }
        <!-- The template when nothing is selected -->
      </div>
      <div><span class="material-symbols-outlined">arrow_drop_down</span></div>
    </div>
  }

</button>

<mat-menu #belowMenu="matMenu" yPosition="below">
  <!--    <ng-template matMenuContent class="mat-app-background basic-container" >-->
  <mat-tree [dataSource]="nestedEntityDataSource" [treeControl]="nestedEntityTreeControl" class="ui link list uk-width-medium">
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
      <div class="item">
        <div class="mat-tree-node header" id="data-tree-entity-field" matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
          <button type="button" id="data-tree-button" class="ui compact icon button" mat-icon-button>
            <mat-icon class="mat-icon-rtl-mirror">
              {{nestedEntityTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name | titlecase}}
        </div>
        <div class="ui fitted divider"></div>
      </div>

      <!-- This is the content when the leaf is expanded -->
      <div class="ui link list" [class.data-tree-invisible]="!nestedEntityTreeControl.isExpanded(node)">
        <div class="content">
          @for (field of node.fields; track field) {
            <div >
              @if (field !== null) {
                <div>
                  <a class="mat-tree-node item" (click)="nodeSelected(field, node)" style="padding-inline-start: 1em">
                    {{field.name | titlecase}}
                  </a>
                  <div class="ui fitted divider"></div>
                </div>
              }
            </div>
          }
          @if (node.loading) {
            <mat-progress-bar  class="example-tree-progress-bar"></mat-progress-bar>
          }
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </div>

    </mat-nested-tree-node>
  </mat-tree>
<!--    </ng-template>-->
</mat-menu>
</div>
