<div class="menu-button">
  <button mat-button [matMenuTriggerFor]="belowMenu" [disabled]="isDisabled" class="mat-button uk-width-1-1">

    <div class="uk-flex uk-flex-middle uk-flex-between">
      @if (isValidNode) {
        <!-- Showing the breadcrumb of entities -->
        @for (field of breadcrumbs; track field; let last = $last) {
          <div class="ui breadcrumb">
            @if (last) {
              <span class="active section">{{ field | titlecase }}</span>
            } @else {
              <span class="section">{{ field | titlecase }}</span>
              <span class="divider"> > </span>
            }
          </div>
        }
      } @else {
        <!-- The template when nothing is selected -->
        <div>Select Entity Field</div>
      }
      <div class="uk-flex uk-flex-middle"><span class="material-symbols-outlined">arrow_drop_down</span></div>
    </div>

  </button>

  <mat-menu #belowMenu="matMenu" yPosition="below">
    <!--    <ng-template matMenuContent class="mat-app-background basic-container" >-->
    <mat-tree [dataSource]="nestedEntityDataSource" [treeControl]="nestedEntityTreeControl" class="ui link list uk-width-medium">
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
        <div class="item">
          <div class="mat-tree-node header" id="data-tree-entity-field" matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
            <button type="button" id="data-tree-button" class="ui compact icon button uk-flex" mat-icon-button>
              <span class="material-symbols-outlined">
                {{nestedEntityTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </span>
<!--              <mat-icon class="mat-icon-rtl-mirror">-->
<!--                {{nestedEntityTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}-->
<!--              </mat-icon>-->
            </button>
            {{node.name | titlecase}}
          </div>
          <div class="ui fitted divider"></div>
        </div>

        <!-- This is the content when the leaf is expanded -->
        <div class="ui link list" [class.data-tree-invisible]="!nestedEntityTreeControl.isExpanded(node)">
          <div class="content">
            @for (field of node.fields; track field) {
              <div>
                @if (field !== null) {
                  <div>
                    <a class="mat-tree-node item" (click)="nodeSelected(field, node)" style="padding-inline-start: 1em">
                      {{field.name | titlecase}}
                    </a>
                    <div class="ui fitted divider"></div>
                  </div>
                }
              </div>
            }
            @if (node.loading) {
              <mat-progress-bar class="example-tree-progress-bar"></mat-progress-bar>
            }
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </div>

      </mat-nested-tree-node>
    </mat-tree>
  <!--    </ng-template>-->
  </mat-menu>
</div>
