/* You can add global styles to this file, and also import other style files */
/* @import '~angular-tree-component/dist/angular-tree-component.css'; */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// Introduces much bigger loading times. TODO after development to decide which icons we use and discard this import
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "variables.scss";

.Site
{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.Site-header 
{
  padding: 10px 30px;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  margin-bottom: 1rem;

  @include media-breakpoint-down(md)
  { padding: 10px 15px; }
  @include media-breakpoint-down(sm)
  { padding: 5px 10px; }

  .header-stats-img
  {
    width: 200px;
    max-height: 100px;
    min-height: 50px;
  }
}


.Site-content 
{
  flex: 1 0 auto;
  width: 100%;
}

.Site-footer 
{
  background: $color-openaire-main-blue;
  font-size: 85%;

  .cc-attribution
  { text-align: center; color: rgba(255,255,255,.7); }
  
  .row.no-gutters div
  {
    margin-bottom: 10px;
    
    @include media-breakpoint-down(md)
    { text-align: center; }
  }
}

.Site-footer.container-fluid
{
  padding: 30px;
  
  @include media-breakpoint-down(md)
  { padding: 10px; }
}

.popover{
  font-size: 1rem;
  padding: 1rem;
}
//  These are for animation reference
// 
// .ui.vertical.animated.button .visible.content,
// .ui.vertical.animated.button .hidden.content {
//   -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease;
//   transition: top 0.3s ease, -webkit-transform 0.3s ease;
//   transition: top 0.3s ease, transform 0.3s ease;
//   transition: top 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
// }

// .ui.vertical.animated.button .visible.content {
//   -webkit-transform: translateY(0%);
//   transform: translateY(0%);
//   right: auto;
// }

// .ui.vertical.animated.button .hidden.content {
//   top: -50%;
//   left: 0%;
//   right: auto;
// }

// .ui.vertical.animated.button:focus .visible.content,
// .ui.vertical.animated.button:hover .visible.content {
//   -webkit-transform: translateY(200%);
//   transform: translateY(200%);
//   right: auto;
// }

// .ui.vertical.animated.button:focus .hidden.content,
// .ui.vertical.animated.button:hover .hidden.content {
//   top: 50%;
//   right: auto;
// }

ul.nav.nav-tabs {
  margin-bottom: 1.5rem;
}

.pointer-events-auto {
  pointer-events: auto;
}





.fields {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  margin: 0 -.5em 1em;
}

.fields .field {
  clear: both;
  margin: 0;
}

.fields > .field {
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  padding-left: .5em;
  padding-right: .5em;
}

.fields > .field:first-child {
  border-left: none;
  box-shadow: none;
}

[class*="equal width"].fields > .field, .ui[class*="equal width"].form .fields > .field {
  width: 100%;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

/* ========================
          Buttons
 ========================== */

.btn-outline-primary {
  color: #222080;
  border-color: #222080;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #222080;
  border-color: #222080;
}

.btn-primary {
  background-color: #222080;
  border-color: #222080;
}

.btn-primary:disabled, .btn-primary:hover:disabled{
  background-color: #3c3a9a;
  border-color: #3c3a9a;
}

.btn-primary:hover {
  background-color: #4687e6;
  border-color: #4687e6;
}

.btn-secondary {
  background-color: #4687e6;
  color: #fff;
  border: 1px solid transparent;
}

.btn-secondary:hover {
  background-color: transparent;
  color: #4687e6;
  border: 1px solid #4687e6;
}