.uk-card.number-card {
  height: unset !important;
}

.uk-card.overlay-card {
  border: 1px solid @dataloom-color;
  background-color: #E9F2FD;
  z-index: 200;
  left: -70px;
  width: 140%;
}

.uk-card.cart-card {

}

.uk-text-white {
  color: white;
}

.card-simple {
  background-color: var(--white);
  border-radius: 6px;
  border: 1px solid #eee;
}

.card-plain {
  background-color: var(--white);
  border-radius: 6px;
  //border: 2px solid #DAEEF3;
  border: 2px solid @dataloom-dark-color;
}

.mat-stepper-vertical, .mat-stepper-horizontal {
  font-family: @global-font-family, sans-serif !important;
}

.uk-text-wrap {
  white-space: wrap;
}

.actionButtons {
  position: fixed;
  bottom: 0vh;
  background-color: @global-background;
  //z-index: @global-z-index - 20;
}

.mat-mdc-button.mat-mdc-button-base, .mat-mdc-raised-button.mat-mdc-button-base, .mat-mdc-unelevated-button.mat-mdc-button-base, .mat-mdc-outlined-button.mat-mdc-button-base {
  height: 45px !important;
  border: 1px solid #DDDDDD;
  padding-left: 15px;
}

.mdc-button {
  font-family: @global-font-family !important;
  font-size: @global-small-font-size !important;
}

.mat-mdc-radio-button .mdc-form-field {
  font-family: @global-font-family !important;
}

.scrollable-tabs {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.width-9-10 {
  width: 90%;
}

.width-1-10 {
  width: 10%;
}

.borderBottomClass {
  border-bottom: 1px solid #EAEAEA;
}
