/* Import OpenAIRE theme*/
@import (multiple) "src/assets/dataloom-theme/less/_import";
@import (multiple) "src/assets/css/common/general";
@import (multiple) "src/assets/css/common/user";
@import (multiple) "src/assets/css/common/dashboard";
//@import (multiple) "~src/assets/common-assets/less/indicators";
//@import (multiple) "~src/assets/common-assets/less/landing";

//@eosc-observatory-dashboard-background: #F3F3F3;
@eosc-observatory-dashboard-background: #FFFFFF;

/** Global */
@global-primary-gradient: linear-gradient(110deg, @dataloom-light-color 0%, @dataloom-dark-color 100%);

/** Background */
@background-primary-background: @dataloom-color;
@background-primary-background-gradient: none;

/** Button */
@button-primary-background: @dataloom-color;
@button-secondary-border: @dataloom-color;
@button-secondary-color: @dataloom-color;
@button-secondary-hover-background: @global-secondary-background;
@button-secondary-hover-background-gradient: none;
@button-secondary-active-background: @global-secondary-background;
@button-secondary-active-background-gradient: none;

/** Label */
@label-secondary-color: @dataloom-color;
@label-secondary-border: @dataloom-color;

/** List */
@list-primary-color: @dataloom-color;

/* Navbar */
@inverse-navbar-background: @dataloom-color;
//@inverse-navbar-background-image: url("banner.jpg");

/** Text */
@text-primary-color: @dataloom-color;
@text-background-color: @dataloom-color;
@inverse-text-primary-color: @dataloom-color;

/* Slider  */
@dotnav-item-background: fade(@dataloom-color, 50%);
@dotnav-item-hover-background: @dataloom-color;
@dotnav-item-onclick-background: @dataloom-color;
@dotnav-item-active-background: @dataloom-color;

/* General */
@general-search-form-background: @eosc-observatory-dashboard-background;
@general-tab-featured-tab: @dataloom-color;

/* Landing */
@landing-portal-color: @dataloom-color;

/* Dashboard */
@dashboard-page-content-background: @eosc-observatory-dashboard-background;
@dashboard-primary-background: @dataloom-color;
@dashboard-menu-section-sublist-border: fade(@dataloom-color, 30%);

/*  Banner */
//@banner-background: url('banner.jpg') no-repeat center center / cover;
@banner-tab-item-color: @default-color;
@banner-tab-item-hover-color: @banner-tab-item-color;
@banner-tab-item-active-color: @global-inverse-color;
@banner-tab-item-hover-decoration: underline;
@banner-tab-item-active-indicator: @eosc-observatory-dashboard-background;
@banner-tab-button-background: @dataloom-color;
