<div style="width: 100%;" [formGroup]="this.googleChartsForm">

  <div>
    <ul data-uk-accordion="multiple: true">
      <li class="uk-open">
        <a class="uk-accordion-title" href>Titles</a>

        <div class="uk-accordion-content" formGroupName="titles">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="">
              <div input placeholder="Title Text" [formInput]="googleChartsForm.get('titles.title')"></div>
            </div>
            <div class="">
              <div input placeholder="Subtitle Text" [formInput]="googleChartsForm.get('titles.subtitle')"></div>
            </div>
          </div>

        </div>
      </li>
      <li class="">
        <a class="uk-accordion-title" href>Axis Names</a>

        <div class="uk-accordion-content" formGroupName="axisNames">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="">
              <div input placeholder="Y Axis" [formInput]="googleChartsForm.get('axisNames.yaxisName')"></div>
            </div>
            <div class="">
              <div input placeholder="X Axis" [formInput]="googleChartsForm.get('axisNames.xaxisName')"></div>
            </div>
          </div>

        </div>
      </li>
      <li class="">
        <a class="uk-accordion-title" href>Plot Options</a>

        <div class="uk-accordion-content">

          <div class="" uk-grid>
            <div class="uk-width-1-1">
              <div input placeholder="Stacked Graph" type="select" [formInput]="googleChartsForm.get('stackedChart')"
                   [options]="stackedGraphList"></div>
            </div>
          </div>

        </div>
      </li>
      <li class="">
        <a class="uk-accordion-title" href>Exporting</a>

        <div class="uk-accordion-content">

          <div class="" uk-grid>
            <div class="uk-width-1-1">
              <mat-slide-toggle formControlName="exporting">Enable Exporting<mat-icon>info</mat-icon></mat-slide-toggle>
            </div>
          </div>

        </div>
      </li>
      <li class="">
        <a class="uk-accordion-title" href>Chart Area</a>

        <div class="uk-accordion-content">

          <div class="" uk-grid>
            <div class="uk-width-1-1">
              <div input placeholder="Background Color" type="color" [formInput]="googleChartsForm.get('gcCABackGroundColor')"></div>
            </div>
          </div>

        </div>
      </li>
      <li class="">
        <a class="uk-accordion-title" href>Plot Area</a>

        <div class="uk-accordion-content">

          <div class="" uk-grid>
            <div class="uk-width-1-1">
              <div input placeholder="Background Color" type="color" [formInput]="googleChartsForm.get('gcPABackgroundColor')"></div>
            </div>
          </div>

        </div>
      </li>
    </ul>
  </div>

</div>
