<div style="width: 100%;" [formGroup]="this.googleChartsForm">

	<div>
		<button (click)="testButton()">Click</button>
	</div>

	<div style="width: 50%; display: inline-block;">
		<div formGroupName="titles">
			<h5 style="font-weight: bold;">Diagram Title</h5>
			<mat-divider></mat-divider>

			<div>
				<mat-label>Title</mat-label>
				<br>
				<mat-form-field>
					<input matInput placeholder="Title" formControlName="title">
				</mat-form-field>
			</div>
		</div>
		<div formGroupName="axisNames">
			<h5 style="font-weight: bold;">Axis Names</h5>
			<mat-divider></mat-divider>

			<div style="width: 50%; display: inline-block;">
				<mat-label>Yaxis</mat-label>
				<br>
				<mat-form-field>
					<input matInput placeholder="Yaxis" formControlName="yaxisName">
				</mat-form-field>
			</div>
			<div style="width: 50%; display: inline-block;">
				<mat-label>Xaxis</mat-label>
				<br>
				<mat-form-field>
					<input matInput placeholder="Xaxis" formControlName="xaxisName">
				</mat-form-field>
			</div>

		</div>
	</div>
	<div style="width: 50%; display: inline-block;">
		<div style="width: 100%;">

			<div style="width: 45%; display: inline-block; margin-right: 40px;">

				<div style="display: inline-block;">
					<h5>Plot Options</h5>
					<mat-divider></mat-divider>

					<mat-label>Stacked Graph</mat-label>
					<br>
					<mat-form-field>
						<mat-select formControlName="stackedChart">
							<mat-option disabled="true">Select One</mat-option>
							<mat-option [value]="stackedGraph.value" *ngFor="let stackedGraph of stackedGraphList">
								{{stackedGraph.name}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div style="display: inline-block;">
					<h5>Chart Area</h5>
					<mat-divider></mat-divider>

					<mat-label>Background Color</mat-label>
					<br>
					<mat-form-field>
						<input matInput type="color" formControlName="gcCABackGroundColor">
					</mat-form-field>
				</div>
			</div>

			<div style="width: 45%; display: inline-block;">
				<div style="display: inline-block;">
					<h5>Exporting</h5>
					<mat-divider></mat-divider>

					<mat-label>Enable Exporting</mat-label>
					<br>
					<div>
						<div>
							<mat-slide-toggle formControlName="exporting"><mat-icon>info</mat-icon></mat-slide-toggle>
						</div>
					</div>
				</div>

				<div style="display: inline-block;">
					<h5>Plot Area</h5>
					<mat-divider></mat-divider>

					<mat-label>Background Color</mat-label>
					<br>
					<mat-form-field>
						<input matInput type="color" formControlName="gcPABackgroundColor">
					</mat-form-field>
				</div>
			</div>
		</div>
	</div>
</div>