<div class="uk-section uk-section-primary uk-section-xsmall uk-preserve-color">
  <div class="uk-container uk-container-expand uk-padding-remove uk-margin-medium-left">
    <div [formGroup]="this.appearanceForm">

      <div>
        <ul class="uk-child-width-expand" data-uk-tab="{connect: #chartOrTableAppearance}" uk-tab>
          <li class="uk-active"><a href="#">Chart Appearance</a></li>
          <li><a href="#">Table Appearance</a></li>
        </ul>

        <ul id="chartOrTableAppearance" class="uk-switcher">
          <li>
            <div formGroupName="chartAppearance">
              <div formGroupName="generalOptions">

                <h6 class="borderBottomClass uk-margin-medium-top uk-text-secondary">
                  <div>General Options</div>
                  <div class="uk-text-meta uk-text-small">Select a chart Visualisation Library, the upper limit of your results and how they are grouped</div>
                </h6>

                <div class="flex-container">
                  <div style="flex-grow: 1;">
                    <mat-form-field appearance="outline" class="no-hint uk-margin-top">
                      <mat-label>Visualisation Library</mat-label>
                      <mat-select (selectionChange)="libraryChange($event)" formControlName="visualisationLibrary">
                        <mat-option disabled="true">Select Library</mat-option>
                        <mat-option *ngFor="let visualisationLibrary of visualisationLibraryList" [value]="visualisationLibrary.value">
                          {{visualisationLibrary.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div style="flex-grow: 1;">
                    <mat-form-field appearance="outline" class="no-hint uk-margin-top">
                      <mat-label>Results Limit</mat-label>
                      <input type="number" matInput min="1" formControlName="resultsLimit">
                    </mat-form-field>
                  </div>

                  <div style="flex-grow: 1;">
                    <mat-form-field appearance="outline" class="no-hint uk-margin-top">
                      <mat-label>Order By</mat-label>
                      <mat-select formControlName="orderByAxis">
                        <mat-option disabled="true">Select One</mat-option>
                        <mat-option [value]="orderByAxis.value" *ngFor="let orderByAxis of orderByList">
                          {{orderByAxis.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div formGroupName="visualisationOptions">

                <h6 class="borderBottomClass uk-margin-medium-top uk-text-secondary">
                  <div>Visualisation Options</div>
                  <div class="uk-text-meta uk-text-small">Available options based on the selected Visualisation Library</div>
                </h6>

                <ng-container *ngIf="this.visualisationLibrary.value === 'HighCharts'">
                  <app-high-charts [highChartsForm]="this.highCharts"></app-high-charts>
                </ng-container>
                <ng-container *ngIf="this.visualisationLibrary.value === 'GoogleCharts'">
                  <app-google-charts [googleChartsForm]="this.googleCharts"></app-google-charts>
                </ng-container>
                <ng-container *ngIf="this.visualisationLibrary.value === 'eCharts'">
                  <app-e-charts [eChartsForm]="this.eCharts"></app-e-charts>
                </ng-container>

              </div>
            </div>
          </li>
          <li>
            <div formGroupName="tableAppearance">
              <h6 class="borderBottomClass uk-margin-medium-top uk-text-secondary">
                <div>Visualisation Options</div>
                <div class="uk-text-meta uk-text-small">Available options based on the selected Visualisation Library</div>
              </h6>

              <mat-form-field appearance="outline" class="uk-width-1-1 no-hint uk-margin-top">
                <mat-label>Table Page Size</mat-label>
                <input type="number" matInput min="1" formControlName="paginationSize">
              </mat-form-field>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

