<div class="uk-section uk-section-primary uk-section-xsmall uk-preserve-color">
  <div class="uk-container uk-container-expand uk-padding-remove uk-margin-medium-left">
    <div [formGroup]="appearanceForm">

      <div>
        <ul class="uk-child-width-expand" data-uk-tab="{connect: #chartOrTableAppearance}">
          <li class="uk-active"><a href="#">Chart Appearance</a></li>
          <li><a href="#">Table Appearance</a></li>
        </ul>

        <ul id="chartOrTableAppearance" class="uk-switcher">
          <li>
            <div formGroupName="chartAppearance">
              <div formGroupName="generalOptions">

                <h6 class="borderBottomClass uk-margin-medium-top uk-text-secondary">
                  <div>General Options</div>
                  <div class="uk-text-meta uk-text-small">Select a chart Visualisation Library, the upper limit of your results and how they are grouped</div>
                </h6>

                <div class="uk-child-width-1-3 uk-margin-medium-top" uk-grid>
                  <div>
                    <div input placeholder="Visualisation Library" type="select"
                         [formInput]="visualisationLibrary" [options]="visualisationLibraryList "
                         (valueChange)="libraryChange($event)">
                    </div>
                  </div>
                  <div>
                    <div input placeholder="Results Limit" type="number"
                         [formInput]="appearanceForm.get('chartAppearance.generalOptions.resultsLimit')">
                    </div>
                  </div>
                  <div>
                    <div input placeholder="Order By" type="select"
                         [formInput]="appearanceForm.get('chartAppearance.generalOptions.orderByAxis')" [options]="orderByList">
                    </div>
                  </div>
                </div>
              </div>

              <h6 class="borderBottomClass uk-margin-medium-top uk-text-secondary">
                <div>Visualisation Options</div>
                <div class="uk-text-meta uk-text-small">Available options based on the selected Visualisation Library</div>
              </h6>

              <ng-container *ngIf="visualisationLibrary.value === 'HighCharts'">
                <app-high-charts [highChartsForm]="highCharts"></app-high-charts>
              </ng-container>
              <ng-container *ngIf="visualisationLibrary.value === 'GoogleCharts'">
                <app-google-charts [googleChartsForm]="googleCharts"></app-google-charts>
              </ng-container>
              <ng-container *ngIf="visualisationLibrary.value === 'eCharts'">
                <app-e-charts [eChartsForm]="eCharts"></app-e-charts>
              </ng-container>
              <ng-container *ngIf="visualisationLibrary.value === 'HighMaps'">
                <app-high-maps [highMapsForm]="highMaps"></app-high-maps>
              </ng-container>

            </div>
          </li>
          <li>
            <div formGroupName="tableAppearance">
              <h6 class="borderBottomClass uk-margin-medium-top uk-text-secondary">
                <div>Visualisation Options</div>
                <div class="uk-text-meta uk-text-small">Available options based on the selected Visualisation Library</div>
              </h6>

              <div input placeholder="Table Page Size" type="number" class="uk-width-1-1 uk-margin-medium-top"
                   [formInput]="appearanceForm.get('tableAppearance.paginationSize')">
              </div>

            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>

