<div style="width: 100%;" [formGroup]="this.eChartsForm">

  <div>
    <ul data-uk-accordion="multiple: true">
      <li class="uk-open">
        <a class="uk-accordion-title" href>Titles</a>

        <div class="uk-accordion-content" formGroupName="titles">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="">
              <div input placeholder="Title Text" [formInput]="eChartsForm.get('titles.title')"></div>
            </div>
            <div class="">
              <div input placeholder="Subtitle Text" [formInput]="eChartsForm.get('titles.subtitle')"></div>
            </div>
          </div>

        </div>
      </li>
      <li class="">
        <a class="uk-accordion-title" href>Axis Names</a>

        <div class="uk-accordion-content" formGroupName="axisNames">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="">
              <div input placeholder="Y Axis" [formInput]="eChartsForm.get('axisNames.yaxisName')"></div>
            </div>
            <div class="">
              <div input placeholder="X Axis" [formInput]="eChartsForm.get('axisNames.xaxisName')"></div>
            </div>
          </div>

        </div>
      </li>
      <li class="">
        <a class="uk-accordion-title" href>Misc Options</a>

        <div class="uk-accordion-content" formGroupName="ecMiscOptions">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="uk-flex uk-flex-middle">
              <mat-slide-toggle formControlName="exporting">Enable Exporting</mat-slide-toggle>
              <span class="material-symbols-outlined uk-margin-small-left">info</span>
            </div>
            <div class="uk-flex uk-flex-middle">
              <mat-slide-toggle formControlName="ecEnableDataLabels">Enable data labels for all series</mat-slide-toggle>
              <span class="material-symbols-outlined uk-margin-small-left">info</span>
            </div>
            <div class="uk-flex uk-flex-middle">
              <mat-slide-toggle formControlName="stackedChart">Stacked graph</mat-slide-toggle>
              <span class="material-symbols-outlined uk-margin-small-left">info</span>
            </div>
          </div>

        </div>
      </li>

      <li>
        <a class="uk-accordion-title" href>Legend</a>

        <div class="uk-accordion-content" formGroupName="ecLegend">

          <div>
            <mat-slide-toggle formControlName="ecEnableLegend">Enable Legend</mat-slide-toggle>
          </div>

          <div *ngIf="eChartsForm.get('ecLegend.ecEnableLegend').value" class="uk-child-width-1-3 uk-margin-medium-top" uk-grid>
            <div class="">
              <div input placeholder="Item Layout" type="select" [formInput]="eChartsForm.get('ecLegend.ecLegendLayout')"
                   [options]="itemLayoutList"></div>
            </div>
            <div class="">
              <div input placeholder="Horizontal Alignment" type="select" [formInput]="eChartsForm.get('ecLegend.ecLegendHorizontalAlignment')"
                   [options]="horizontalAlignmentList"></div>
            </div>
            <div class="">
              <div input placeholder="Vertical Alignment" type="select" [formInput]="eChartsForm.get('ecLegend.ecLegendVerticalAlignment')"
                   [options]="verticalAlignmentList"></div>
            </div>
          </div>

        </div>
      </li>

      <li>
        <a class="uk-accordion-title" href>Zoom Options</a>

        <div class="uk-accordion-content" formGroupName="ecZoomOptions">

          <div class="uk-child-width-1-2" uk-grid>
            <div class="uk-flex uk-flex-middle">
              <mat-slide-toggle formControlName="enableXaxisZoom">Enable X axis Zoom</mat-slide-toggle>
              <span class="material-symbols-outlined uk-margin-small-left">info</span>
            </div>
            <div class="uk-flex uk-flex-middle">
              <mat-slide-toggle formControlName="enableYaxisZoom">Enable Y axis Zoom</mat-slide-toggle>
              <span class="material-symbols-outlined uk-margin-small-left">info</span>
            </div>
          </div>

        </div>
      </li>

      <li class="">
        <a class="uk-accordion-title" href>Chart Area</a>

        <div class="uk-accordion-content">

          <div class="" uk-grid>
            <div class="uk-width-1-1">
              <div input placeholder="Background Color" type="color" [formInput]="eChartsForm.get('ecChartArea.ecCABackGroundColor')"></div>
            </div>
          </div>

        </div>
      </li>

      <li>
        <a class="uk-accordion-title" href>Data Series Color Palette</a>

        <div class="uk-accordion-content" formArrayName="dataSeriesColorArray">

          <ng-container *ngFor="let dataSeriesColor of getSeriesColors(eChartsForm); let i = index">
            <div class="uk-flex uk-flex-middle uk-grid-small" uk-grid>
              <div class="uk-width-expand" input type="color" [formInput]="eChartsForm.get('dataSeriesColorArray').get(i.toString())"></div>
              <a (click)="removeSeriesColor(eChartsForm, i)" class="uk-link-reset"><span class="material-symbols-outlined uk-margin-small-left">close</span></a>
            </div>
          </ng-container>

          <div class="uk-margin-top">
            <a class="uk-link uk-flex uk-flex-middle" (click)="addSeriesColor(eChartsForm)">
              <span class="material-symbols-outlined">add</span>
              <span>Add Series Color</span>
            </a>
          </div>

        </div>
      </li>

    </ul>
  </div>
  
</div>
