<button (click)="testLog()">TEST</button>
<button style="float: right;" (click)="submitTest()" [disabled]="!(this.view.valid && this.category.valid && this.dataseries.valid)">SUBMIT</button>
<div class="container">
	<form [formGroup]="formGroup">
		<!-- <app-customise-appearance [appearanceForm]="this.appearance"></app-customise-appearance>
		<br> -->

		<mat-stepper #stepper linear (selectionChange)="onStepChange($event)">
			<mat-step [stepControl]="this.view">
				<ng-template matStepLabel>
					<span style="display: block;">{{viewSelectionLabel}}</span>
					<span *ngIf="true" style="display: block;">{{selectedView}}</span>
				</ng-template>
				<app-view-selector
          (showViewSelection)="updateStepper($event)" [viewForm]="this.testingView" [profileControl]="this.profile">
        </app-view-selector>
        <pre>{{ dynamicFormHandlingService.loadFormObject | json }}</pre>
			</mat-step>
			<mat-step [stepControl]="this.category">
				<ng-template matStepLabel>
					<span style="display: block;">
						{{categorySelectionLabel}}
					</span>
					<span *ngIf="true" style="display: block;">
						{{selectedCategory | capitalize}}
					</span>
				</ng-template>
				<app-category-selector (showCategorySelection)="updateStepper($event)" [categoryForm]="this.category"></app-category-selector>
			</mat-step>
			<mat-step [stepControl]="this.dataseries" [label]="configureDatasieriesLabel">
				<app-dataseries-selector [selectedView]="testingView"></app-dataseries-selector>
			</mat-step>
			<mat-step [stepControl]="this.appearance" [label]="customiseAppearanceLabel" [optional]="true" [completed]="this.view.valid && this.category.valid">
				<app-customise-appearance [appearanceForm]="this.appearance"></app-customise-appearance>
			</mat-step>
		</mat-stepper>
	</form>
</div>
