<!--<h1 mat-dialog-title>Favorite Animal</h1>-->
<div class="content">
  <div mat-dialog-content>
    <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start" animationDuration="250ms">
      <mat-tab label="Diagram">
        <div class="container">
          <chart-frame [chart]="data.chartObj"></chart-frame>
        </div>
        <div class="actions">
          <div class="label">
            <generated-short-url-field [shortUrl]="chartExportingService.chartTinyUrl$"></generated-short-url-field>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Table">
        <div class="container">
          <table-frame [table]="data.tableObj"></table-frame>
        </div>
        <div class="actions">
          <div class="label">
            <generated-short-url-field [shortUrl]="chartExportingService.tableTinyUrl$"></generated-short-url-field>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Raw Chart Data">
        <div class="container">
          <raw-chart-data-frame [rawChartData]="data.rawChartDataObj"></raw-chart-data-frame>
        </div>
        <div class="actions">
          <div class="label">
            <generated-short-url-field [shortUrl]="chartExportingService.rawChartDataTinyUrl$"></generated-short-url-field>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Raw Data">
        <div class="container">
          <raw-data-frame [rawData]="data.rawDataObj"></raw-data-frame>
        </div>
        <div class="actions">
          <div class="label">
            <generated-short-url-field [shortUrl]="chartExportingService.rawDataTinyUrl$"></generated-short-url-field>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
