<!-- Fields -->
@for (entityField of this.selectedEntityMap[0].fields; track entityField) {
  <mat-option [value]="entityField.name" (click)="entityFieldSelect(entityField.name)">
    {{entityField.name}}
  </mat-option>
}

<!-- Also check mat-tree which might be optimal -->
<!-- Also check for component in component like a recurring function -->
<!-- Relations  -->
@for (entityFieldRelation of this.selectedEntityMap[0].relations; track entityFieldRelation) {
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      {{entityFieldRelation | uppercase}}
    </mat-expansion-panel-header>
    @if (panelOpenState) {
      <app-entity-selection-component [entityMap]="this.entityMap" [entityFieldRelation]="entityFieldRelation"></app-entity-selection-component>
    }
  </mat-expansion-panel>
}